<header>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</header>
  
    <ion-content class="auth-form" padding>
      <div class="icon-voltar">
        <img src="../../assets/icon-voltar.png" alt="Icone Voltar">
      </div>
      <div class="logo">
        <img src="../../assets/wizard-logo.png" width="80%" alt="Logo Wizard">
      </div>
      <div class="titulo">
          <h1>Minhas Turmas</h1>
      </div>
      <div class="sub-titulo">
        <h4>Segunda-feira</h4>
        <img src="../../assets/icon-editar.png" width="80%" alt="Icone Editar">
      </div>
      <div class="titulo-turma">
        <h4>Interactive 14h-16h</h4>
      </div>
      <ion-grid>
        <ion-row>
            <ion-col>
                <ion-button [routerLink]="[]" color="secondary" class="ion-button">Adicionar chamada</ion-button>
                <ion-button [routerLink]="['/chamadas']" color="danger" class="ion-button">Visualizar chamadas</ion-button>
            </ion-col>
        </ion-row>
      </ion-grid>
      <div class="titulo-turma">
        <h4>Alunos</h4>
      </div>
      <ion-grid>
        <ion-row class="linha">
          <ion-col class="cabecalho"><strong>Nome</strong></ion-col>
          <ion-col class="cabecalho"><strong>Idade</strong></ion-col>
          <ion-col class="cabecalho"><strong>Livro</strong></ion-col>
          <ion-col class="cabecalho"><strong>Lições</strong></ion-col>
        </ion-row>
        <ion-row class="linha">
          <ion-col class="cabecalho">Fulano</ion-col>
          <ion-col class="cabecalho">15</ion-col>
          <ion-col class="cabecalho">T4</ion-col>
          <ion-col class="cabecalho"><img src="../../assets/icon-lupa.png" alt="Icone Lupa" ></ion-col>
        </ion-row>
        <ion-row class="linha">
          <ion-col class="cabecalho">Ciclano</ion-col>
          <ion-col class="cabecalho">20</ion-col>
          <ion-col class="cabecalho">W2</ion-col>
          <ion-col class="cabecalho"><img src="../../assets/icon-lupa.png" alt="Icone Lupa" ></ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>