*{
    font-family: "Gothic A1";
  }
  
  .logo{
    text-align: center; 
    padding-top: 20%;
  }

  .logo img{
    height: 45px;
    width: 210px;
  }
  
  .titulo{
    text-align: center;
    color: #002C4D;
  }

  .sub-titulo{
    color: #002C4D;
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
  }

  .sub-titulo img{
    height: 25px;
    width: 25px;
    margin-top: 10px;
  }

  .titulo-turma{
    color: #002C4D;
    margin-left: 20px;
  }
  
  .ion-button{
    height: 60px; 
    width: 45%; 
    margin-left: 10px; 
    margin-right: auto;
    margin-bottom: 20px;
    font-size: 15px;
    text-transform: none;
  }
  
  .icon-voltar{
    height: 30px;
    width: 30px;
    position: relative;
    top: 50px;
    left: 20px;
  }

  .cabecalho{
    color: #002C4D;
    font-size: 17px;
    text-align: center;
  }

  .cabecalho img{
    height: 25px;
    width: 25px;
  }

  .linha{
    border: 2px solid #002C4D;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
  }