*{
  font-family: "Gothic A1";
}

.logo{
  text-align: center; 
  padding-top: 45%;
  padding-bottom: 5%;
}

.titulo{
  text-align: center;
  color: #002C4D;
}

.ion-button{
  height: 65px; 
  width: 85%; 
  margin-left: auto; 
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 20px;
  text-transform: none;
}
