<header>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</header>


<ion-content>
  <div class="icon-voltar">
    <img src="../../assets/icon-voltar.png" alt="Icone Voltar">
  </div>
  <div class="logo">
    <img src="../../assets/wizard-logo.png" width="80%" alt="Logo Wizard">
  </div>
  <div class="titulo">
    <h1>Login</h1>
  </div>
  <form>
    <div class="input">
      <ion-label><strong>E-mail</strong></ion-label>
      <ion-input type="email" required [(ngModel)]="email" name="email" placeholder="E-mail"></ion-input>
    </div>

    <div class="input">
      <ion-label><strong>Senha</strong></ion-label>
      <ion-input type="password" required [(ngModel)]="senha" name="senha" placeholder="Senha"></ion-input>
    </div>

    <div class="input">
      <ion-button type="submit" color="secondary" expand="block" class="ion-button" (click)="login()">Entrar</ion-button>
    </div>

    <div class="link-cadastro">
      <ion-label>Não tem conta ainda?<br>Cadastre-se <span>aqui</span></ion-label>
    </div>
  </form>
</ion-content>